<div class="jumbotron">
        <h1 class="display-4">{{ nombre}} Tus recuerdos</h1>
        <p class="lead">son muy valiosos para mi , por eso te doy la oportunidad de conservalos aqui
        </p>
        <hr class="my-4">
        <img src="/images/recuerdos.jpg" alt="box" id="box">
        <footer>
            {{nombre}} 
            <p>{{year}}</p>
        </footer>

    </div>
</body>

</html>